<a href="https://colab.research.google.com/github/menguelx7/Diplodatos/blob/main/Aprendizaje%20Supervisado/Grupo_1_Aprendizaje_Supervisado_Kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split, GridSearchCV, StratifiedKFold
from sklearn.metrics import accuracy_score, ConfusionMatrixDisplay, classification_report

from sklearn.tree import DecisionTreeClassifier



imputer_cols = ["Age", "FoodCourt", "ShoppingMall", "Spa", "VRDeck" ,"RoomService"]
imputer = SimpleImputer(strategy="median")
df[imputer_cols] = imputer.fit_transform(df[imputer_cols])
y = df.Transported
X = df.drop('Transported',axis=1)
X

In [4]:
#Llamo al dataset desde el link del github del profe. Luego será cambiado al github propio
#La info sobre qué representa cada uno de las columnas del dataset se encuentra en 
#https://www.kaggle.com/competitions/spaceship-titanic/data


df = pd.read_csv('https://raw.githubusercontent.com/DiploDatos/AprendizajeSupervisado/master/Pr%C3%A1ctico/train.csv')
print(df.shape)
print(df.describe())
df.head(5)

(7823, 14)
       PassengerId          Age   RoomService     FoodCourt  ShoppingMall  \
count  7823.000000  7661.000000   7669.000000   7668.000000   7635.000000
mean   4345.691039    28.879389    226.078237    455.643062    172.600393
std    2504.576803    14.461548    679.180148   1621.290107    597.923749
min       0.000000     0.000000      0.000000      0.000000      0.000000
25%    2182.500000    19.000000      0.000000      0.000000      0.000000
50%    4345.000000    27.000000      0.000000      0.000000      0.000000
75%    6515.500000    38.000000     44.000000     69.000000     28.000000
max    8692.000000    79.000000  14327.000000  29813.000000  23492.000000

                Spa        VRDeck  Transported
count   7665.000000   7654.000000  7823.000000
mean     305.023222    295.476744     0.506711
std     1133.423579   1093.485752     0.499987
min        0.000000      0.000000     0.000000
25%        0.000000      0.000000     0.000000
50%        0.000000      0.000000     1.000000
75%       58.000000     46.000000     1.000000
max    22408.000000  24133.000000     1.000000

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,3430,Europa,False,C/123/P,TRAPPIST-1e,57.0,False,0.0,3859.0,13.0,195.0,3874.0,Azhah Tronsive,0
1,669,Mars,True,F/126/S,NaN,18.0,False,0.0,0.0,0.0,0.0,0.0,Roswal Sha,1
2,8430,Europa,True,B/343/S,TRAPPIST-1e,33.0,NaN,0.0,0.0,0.0,0.0,0.0,Shaiam Tinganking,1
3,6463,Earth,False,F/1420/P,TRAPPIST-1e,43.0,False,142.0,1208.0,0.0,0.0,204.0,Landa Grifford,0
4,85,Earth,False,G/9/P,TRAPPIST-1e,19.0,False,0.0,0.0,670.0,1.0,34.0,Gracy Dunnisey,0